<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Student List</h1>
	<div>
    <a th:href="@{/add-student}">Add Student</a>
</div>

	
	<table>
		<tr>
		<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Address</th>
		</tr>
		<tr th:each="student : ${students}">
		<td th:text=${student.id}></td>
			<td th:text=${student.name}></td>
			<td th:text=${student.email}></td>
			<td th:text=${student.address}></td>
<td>
<a th:href="@{/edit-student(id=${student.id})}">Edit</a>
<a th:href="@{/delete-student(id=${student.id})}">Delete</a>
</td>
		</tr>
	</table>

</body>
</html>