<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 100px;">
    <h1>Edit Student</h1>
    <form th:action="@{/edit-student(id=${student.id})}" enctype="multipart/form-data" method="post"
        th:object="${studentDTO}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Enter your name"> <br>

        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age" placeholder="Enter your age"> <br>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></p>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Enter your email"> <br>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" id="password" placeholder="Enter your password"> <br>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

        <label for="image">Image</label>
        <img alt="image" height="100px" width="100px" th:src="@{'images/'+${student.imagePath}}"> <br>
        <input type="file" id="image" th:field="*{image}"> <br>
        <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></p>

        <input type="submit" value="Edit Student">
    </form>
</body>

</html>